body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-family: roboto, sans-serif;
}

/* --- Below is for the top-div --- */

.top-div {
  height: 25%;
  width: 100%;
  background-color: #283618;
  margin: auto;
}

.nav {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  background-color: #283618;
}

.h-logo {
  margin-left: 15%;
  margin-top: 10px;
  margin-bottom: auto;
  border: none;
  height: 48px;
  width: 48px;
}

ul {
  color: #9193a1;
  list-style-type: none;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  overflow: hidden;
  position: absolute;
  left: 60%;
}

li {
  float: left;
  font-size: 18px;
}

li a {
  display: block;
  color: #ededf4;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
}

.awesome,
.h-second {
  margin-right: 50%;
  color: #f9faf8;
  text-align: left;
}

.awesome {
  padding-top: 50px;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 1px;
}

.h-second {
  font-size: 18px;
  margin-bottom: 5px;
}

#img1 {
  height: 150px;
  width: 250px;
  border-radius: 0;
  border: none;
  margin-left: 50%;
  float: right;
  position: absolute;
  margin-top: 110px;
}

#signup1 {
  color: #fefae0;
  background-color: #606c38;
  border: none;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  margin-bottom: 50px;
}

/* --- Below is for the mid1-div --- */

.mid1-div {
  height: 25%;
  width: 100%;
  background-color: #fefae0;
  margin: auto;
}

.flex-container2 {
  gap: 22px;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}

h2 {
  text-align: center;
  font-size: 36px;
  color: black;
}

img {
  height: 100px;
  width: 100px;
  border: solid 2px #606c38;
  border-radius: 10px;
}

.info-text {
  color: #5a5858;
}

/* Below is for the mid2-div */

.mid2-div {
  height: 25%;
  width: 100%;
  background-color: #b7bccc;
  margin: auto;
}

.flex-container3 {
  padding: 5% 15%;
  color: #141101;
}

.quote {
  text-align: left;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
}

.owner {
  text-align: right;
  font-size: 24px;
}

* --- Below is for the bottom-div --- */ .bottom-div {
  height: 25%;
  width: 100%;
  background-color: #fefae0;
  margin: auto;
}

.flex-container4 {
  padding: 5% 15%;
}

.border-box {
  border-radius: 10px;
  background-color: #606c38;
  color: #fefae0;
  justify-content: space-between;
}

.blue-text {
  text-align: left;
  padding: 5px 0 5px 30px;
  margin-right: 40%;
}

h5 {
  font-size: 18px;
}

#signup2 {
  height: 30px;
  width: 90px;
  color: #fefae0;
  background-color: #606c38;
  border: solid 2px #fefae0;
  border-radius: 5px;
  float: right;
  position: relative;
  left: 40%;
  bottom: 30px;
}
